include skbel/algorithms/*
include skbel/goggles/*
include skbel/learning/*
include skbel/preprocessing/*
include skbel/spatial/*
include skbel/testing/*
include skbel/tmaps/*
include skbel/utils/*
include skbel/nn_utilities/*
include skbel/bnn/*
include skbel/probabilities/*

include docs/examples/*.py
include docs/examples/dataset/*.pkl
