include skbel/algorithms/*
include skbel/goggles/*
include skbel/learning/*
include skbel/preprocessing/*
include skbel/spatial/*
include skbel/testing/*

include docs/examples/*.py
include docs/examples/dataset/*.pkl
